.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid black 1px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(255, 0, 119);
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(255, 145, 72);
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(57, 187, 204);
}